<!DOCTYPE html>
<html>
  <head>
    <title>Hello,rails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <a href="#F1">这是一个阳光明媚的早晨！</a>
    </div>
    <%= yield %>
    <div>
      <p>111</p>
      <p>222</p>
      <p>333</p>
      <p>444</p>
      <p>555</p>
      <p>666</p>
      <p>777</p>
      <p>888</p>
      <p>999</p>
      <p id="F1">0.0</p>
    </div>
  </body>
</html>